.footer-main{
  background-color: rgb(156, 149, 149);;
}
.footer-link{
  color: black;
  text-decoration: none;
}
.footer-link:hover{
  text-decoration: underline;
}
.address{
  color: black;
}
.prod-container{
  width: 320px;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 15px;
  height: 600px;
}
.prod-des{
  font-size: smaller;
  font-weight: 100;
  color: gray;
}
.todays-deal{
  width: 250px;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 15px;
  box-shadow: 0px 0px 80px -20px #DCDCDC;
}
.CategoryHeader{
  border: 1px solid lightgray;
  background-color: rgb(50, 50, 74);
  border-radius: 5px;
  padding: 8px;
  box-shadow: 1px 1px 5px 0px lightgray;
}

.CategoryHeader-link{
  text-decoration: none;
  font-size: large;
  font-weight: 600;
  color: black;
}
.CategoryHeader-link:hover{
  text-decoration: underline;
  font-size: x-large;
  color: gray;
}

.cart-icon {
  cursor: pointer;
}

.cart-icon .badge {
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 0.2rem 0.5rem;
  font-size: 0.8rem;
  border-radius: 50%;
  background-color: red;
  color: white;
}